.mark-dowm{
  width: 2%;
  align-self: center;
}

.px-7{
    padding: 0 5rem;;
}

.logo{
  box-sizing: border-box;
  width: 90%;
  height: auto;
  padding: 1% 10%;
  border: black 1px solid;
}

.before{
  background:linear-gradient(rgb(255, 51, 0),rgb(243, 243, 243)), url(/src/img/before1.jpg) ;
  background-size: cover;
  width: 100%;
  height: 2000px;
}