p{
  line-height: 2em;
}
a{
  text-decoration: none;
  color: black;
}
b{
  font-weight: bold;
}
.flex{
  display: flex;
}

.w-100{
  width: 100%;
}

/* .m-1{
  margin: .25rem;
} */

/* .m-2{
  margin: .5rem;
} */

.m-3{
  margin: .75rem;
}

.ml-3{
  margin-left: .75rem;
}

.mr-3{
  margin-right: .75rem;
}

.mb-3{
  margin-bottom: .75rem;
}

.mt-3{
  margin-top: .75rem;
}


.m-4{
  margin: 1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.py-3{
  margin: .75rem 0;
}

.pt-5{
  padding-top: 2rem;
}
.py-5{
  padding: 2rem 0;
}

.px-3{
  padding:0 0.75rem;
}

.px-5{
  padding: 0 2rem;;
}


/*COLORS*/

.cl-dk{
  color: #272a31;
}
.bg-dk{
  background-color: #272a31;
}

.cl-og{
  color: #ec5242;
}

.bg-og{
  background-color: #ec5242;
}

.cl-gr{
  color: #d3d3d3;
}

.bg-gr{
  /* background-image: url(/src/img/background.png); */
 background-color: gray;
  background-size: cover;
  height: auto;
}

.cl-wt{
  color: white;
}

.bg-wt{
  background-color: white;
}

.bg-grpt{
  background-image: url(../img/grey-pattern.jpg);
}

.bg-bkpt{
  background-image: url(../img/black_pattern.png);
}

.tx-none{
  text-decoration: none;
}
.tx-center{
  text-align: center;
}

.tx-left{
  text-align: left;
}

.tx-right{
  text-align: right;
}

.bread-crumb{
  width: 85%;
  margin-top: 1%;
}

.it-center{
  align-items: center;
}

.jt-center{
 justify-content: center;
}

.jt-around{
  justify-content: space-around;
}

.jt-between{
  justify-content: space-between;
}

.self-center{
  align-self: center;
}

.hide,.hide2{
  display: none;
}

.fa-bars{
  font-size: 40px;
  margin: 0.5rem 1rem;
}

.title-section{
  margin:0 0 2rem 0;
  padding-bottom: 3rem ;
  padding:2% 5%;
}

.t-light-reg{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: clamp(1.5rem, 5.5vw, 20rem);
  margin:0 0 5% 0;
}

h2{
  font-size: clamp(1.5rem, 4.5vw, 20rem)
}

h3{
  font-size: clamp(1rem, 2.5vw, 20rem)
}

h4, p{
  font-size: clamp(0.7rem, 2vw, 20rem)
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(.1rem, 3vw, 1rem)
}

.p-lato{font-family: 'Lato', sans-serif;
}


.title-paragraph{
  border: #d3d3d3 .4vh solid;
  max-width: 600px;
}

.fl-dc-col{
 flex-direction: column; 
}

.mark-dowm{
  background-color: #ec5242;
  height: 1px;
  margin-bottom: 10px;
  width: 10%;
  align-self: center;
}

.main-prg-option{
  border: white 1px solid;
  margin-top: 0;
  background-color: rgba(77, 72, 72, 0.212);
}

.main-prg-option .iconify{
  width: 90px;
  height: 90px;
  color: white;
  
}

button{
  border: none;
}

.main-button{
  width: 40%;
  padding: 5%;
  
  font-size: clamp(.1rem, 1vw + .8rem, 1rem)
}

.conteiner-ft{
  float: left;
  max-height: 152px;
  height: 152px;
  width: auto;
}

.back-img-spk{
  width: 97px;
  height: 97px;
 
}

.img-spk{
  position: relative;
  top: 60px;
  left: -70px;
  margin-top: -40px;
  width: 120px;
  height: 120px;
  margin-right: -50px;
}

.descr-spk{
  margin-top: 40px;
}


.descr-spk .italic{
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

.more{
  width: 90%;
  height: 5vh;
  border: #272a31 1px solid;
}

.brand-partner{
  box-sizing: border-box;
  padding: 50px 20px;
}

.autor{
  padding:5% 10%;
}

/*<a href="https://www.freepik.es/vectores/fondo">Vector de Fondo creado por createvil - www.freepik.es</a>*/



@media only screen and (min-width: 768px){
  .show{
    display: none !important;
  }
  .hide2{
    display: flex;
    justify-content: flex-end;
  }
  .social-nav{
    width: 48%;
    padding: 1% 10%;
    box-sizing: border-box;
  }
  header nav *{
    padding: 2%;
  }

  .hide{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    max-height: 89px;
  }

  .hide .logo{
   
   max-height: 89px;
    padding: 5px 0;
    padding-left: 1%;
  }
.hide div{
  max-width: 570px;
}
  .hide button{
    border:#ec5242 .2rem solid;
    height: 40px;
    padding: 0;
    margin: 10px;
  }
  .title-container{
    width: 60%;
    padding: 7%;
  }
  .mark-dowm{
    margin-top: 15px;
    width: 5%;
  }
  .main-prg{
   display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    align-self: center;
    margin-top: 45px;
  }
  .main-prg-option{
    flex-direction: column;
    margin-left: 0;
  }
  .see-whole{
    border-bottom: grey 1px solid;
  }
  .speakers{
    align-self: center;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
}